.container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
.login_page{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    box-shadow: 0 0 2px 0;
    border-radius: 10px;
}
input{
    width: 90%;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
    margin: 20px 0;
}
button{
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 50px auto;
    box-shadow: 0 0 3px 0;
}
button:active{
    box-shadow:  0 0 3px 0 inset;
}